html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Source Sans Pro" sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

a:hover {
  cursor: pointer;
}

a.standard-link::after {
  content: "";
  height: 8px;
  background-color: #4391c966;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
}

ul {
  padding: 0;
}
