version: 2.1

orbs:
  node: circleci/node@4.3.0
  aws-cli: circleci/aws-cli@2.0

jobs:
  build:
    executor: node/default
    steps:
      - checkout
      - node/install:
          node-version: 14.15.4
          npm-version: 6.14.10
      - restore_cache:
          keys:
            - node-deps-v3-{{ checksum "packages/web/package-lock.json" }}
      - run:
          command: cd packages/web && npm ci
          name: Installing NPM packages
      - run:
          command: cd packages/web && npm run build
          name: Build
          environment:
            ANALYZE: 1
      - store_artifacts:
          path: .next/analyze
      - save_cache:
          key: node-deps-v3-{{ checksum "packages/web/package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
            - ./packages/web/.next/cache
  run-e2e-tests:
    executor: node/default
    docker:
      - image: cypress/base:8
        environment:
          TERM: xterm
    working_directory: ./
    steps:
      - checkout
      - node/install:
          node-version: 14.15.4
          npm-version: 6.14.10
      - restore_cache:
          keys:
            - node-deps-v3-{{ checksum "packages/web/package-lock.json" }}
      - run: 
          name: Installing NPM packages
          command: cd packages/web && npm ci
      - run:
          name: Starting dev server
          command: cd packages/web && npm run dev
          background: true
      - run:
          name: Running E2E tests
          command: npm run cypress:test



  update-translations-site:
    executor: node/default
    steps:
      - checkout
      - node/install:
          node-version: 14.15.4
          npm-version: 6.14.10
      - aws-cli/install
      - restore_cache:
          keys:
            - translations-site-dep-v2-{{ checksum "packages/web/package-lock.json" }}
      - run:
          name: Installing NPM packages
          command: cd packages/web && npm ci
      - run:
          name: Create site directory structure
          command: mkdir -p packages/web/translation-site/templates
      - run:
          name: Generate translations site
          command: cd packages/web && node tt.js generate
      - run:
          name: Upload site
          command: cd packages/web && aws s3 cp --recursive translation-site s3://translations-website/
      - save_cache:
          key: translations-site-dep{{ checksum "packages/web/package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache

workflows:
  main:
    jobs:
      - build
      - run-e2e-tests
      - update-translations-site:
          filters:
            branches:
              only:
                - master

