body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

body.modal-open {
  overflow: hidden;
}

#modal-root {
  position: relative;
  z-index: 500;
}

/* Prevent transitions on page load */
.block-transitions-on-page-load * {
  transition: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.j-link {
  color: #4391c9;
}

.j-link:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

input,
select,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  white-space: normal;
  background: none;
  background-color: white;
}

input:focus {
  outline: 0;
}

::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Used by screen readers, but hidden visually */
.screen-reader {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
