html {
  font-size: 10px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
