html {
  font-size: 10px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent transitions on page load */
.block-transitions-on-page-load * {
  transition: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.j-link {
  color: #4391c9;
}

.j-link:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  background-color: white;
}

input:focus {
  outline: 0;
}

button,
input,
textarea,
select {
  box-sizing: border-box;
}
